{% extends "layout.html" %}
{% block content %}

<div class="container" style="text-align:center;">
	
	<h4> <b>Website owner</b> </h4>
	<p> <a href="https://www.dzne.de/en/research/research-areas/fundamental-research/research-groups/kizil/research-areasfocus/"> KizilLab </a></p>
	<h4> <b>Contact </b></h4>
	<p> <a href="https://kizillab.org/contact/"> Kizil Lab Contact </a> </p>
	<p> <a href="mailto:caghan.kizil@dzne.de"> Caghan Kizil </a> </p>
	<p> <a href="mailto:mehmet.cosacak@dzne.de">Mehmet Ilyas Cosacak</a> </p>
	<h4> <b>Full address</b> </h4>
	<p>DZNE Dresden within Helmholtz Association, Tatzberg 41, 01307, Dresden, Germany</p>
	<h4><b>Disclaimer</b></h4>
	<p> kizillab.org is a non-profit, non-commercial website that is not engaged in any form of commercial activity. The privacy of the visitors are maintained to the best standards in compliance with the EU GDPR regulations. Please <a href="https://kizillab.org/contact/ "> contact</a> us or visit the <a href="/DisclaimerPage/"> privacy policy </a> notice for more information. </p>
</div>

{% endblock content %}
